<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026259670179-e0eo00jvhkvokofbn45fs7vrdo61ljt2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026259670179-e0eo00jvhkvokofbn45fs7vrdo61ljt2</string>
	<key>API_KEY</key>
	<string>AIzaSyAElYLirMLfi1IGEfSXhzvbTljOhfr2l4Y</string>
	<key>GCM_SENDER_ID</key>
	<string>1026259670179</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.mundo</string>
	<key>PROJECT_ID</key>
	<string>mundo-663ca</string>
	<key>STORAGE_BUCKET</key>
	<string>mundo-663ca.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026259670179:ios:246174e00b5f020f311b16</string>
	<key>DATABASE_URL</key>
	<string>https://mundo-663ca-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>